$unit: 'px'
.section
  +w($tablet#{$unit})
  margin: 0 auto

.head
  &-orange
    height: 36px
    font-size: 12px
  &-button
    display: none
  &-top
    padding: 0
  &-line
    display: flex
    padding: 0 20px
  &-burger
    display: none
  &-nav
    position: static
    transform: translateX(0)
    padding-top: 0
  &-list
    display: flex
    align-items: center
  &-item
    margin-left: 30px
    font-size: 16px
    &:first-child
      margin-left: auto
    a
      border-bottom: none
      padding: 26px 0
      svg
        +wh(auto,20px)
        display: block
      span
        display: none

  &-mobile-none
    display: block
    &:last-child
      margin-left: 20px