header.head
    section.section.head-line
        .head-top
            a(href='#').head-logo
                .head-logo-border
                    span 新華行
                    span SAN
                    span WAH
            button.head-burger
                span
        nav.head-nav
            ul.head-list
                li.head-item
                    a(href='#') Home
                li.head-item
                    a(href='#') Over ons
                li.head-item
                    a(href='#') Producten
                li.head-item
                    a(href='#') Nieuws
                li.head-item
                    a(href='#') Contact
                li.head-item
                    a(href='#')
                        include ../../img/cart.svg
                        span Cart
                li.head-item
                    a(href='#')
                        include ../../img/f.svg
                        span Facebook