header.head
    section.head-orange
        a(href='#')
            include ../../img/rupor.svg
            span Vrijdag tot er met maandag zijn onze openingstijden aangepast
    section.section.head-line
        .head-top
            a(href='#').head-logo
                .head-logo-border
                    span 新華行
                    span SAN
                    span WAH
            button.head-burger
                span
            a(href='#').head-button
                include ../../img/cart.svg
            a(href='#').head-button
                include ../../img/f.svg
        nav.head-nav
            ul.head-list
                li.head-item
                    a(href='#') Home
                li.head-item
                    a(href='#') Over ons
                li.head-item
                    a(href='#') Producten
                li.head-item
                    a(href='#') Nieuws
                li.head-item
                    a(href='#') Contact
                li.head-item.head-mobile-none
                    a(href='#')
                        include ../../img/cart.svg
                li.head-item.head-mobile-none
                    a(href='#')
                        include ../../img/f.svg